doctype html
html
  head
    title Mu$ical-Be@t
    block scripts
    block style     
       
  body
    nav#navbar 
        ul 
            div#logo
                img(src="/static/images/logo1.jpg", alt="")
                
            li #[a(href="/") Home]
            li #[a(href="/") About us]
            //- li #[a(href="/") Services ]
            li #[a(href="/") Class Info]
            li #[a(href="/register") Register Here]

    block content
    footer#footer
        | copyright © Mu$ical-Be@t.com | All rights are reserved
    